body
{position:relative;background-color:#fff;overflow-x:hidden}
body,html{height:100%}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{background-color:transparent}
#wrapper{padding-left:0;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
#wrapper.toggled{padding-left:220px}
#sidebar-wrapper{z-index:1000;left:220px;width:0;height:100%;margin-left:-220px;overflow-y:auto;overflow-x:hidden;background:#0a5794;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
#sidebar-wrapper::-webkit-scrollbar{display:none}
#wrapper.toggled
#sidebar-wrapper{width:220px}
#page-content-wrapper{width:100%;padding-top:0;padding-right:0}
#wrapper.toggled #page-content-wrapper{position:absolute;margin-right:-220px}
.sidebar-nav{position:absolute;top:0;width:220px;margin:0;padding:0;list-style:none}
.sidebar-nav li{position:relative;line-height:20px;display:inline-block;width:100%}
.sidebar-nav li:hover{color:#fff;background-color:#094575}
.sidebar-nav li.open:hover:before,.sidebar-nav li:hover:before{width:100%;-webkit-transition:width .2s ease-in;-moz-transition:width .2s ease-in;-ms-transition:width .2s ease-in;transition:width .2s ease-in}
.sidebar-nav li a{display:block;color:#fff;text-decoration:none;padding:10px 15px}
.sidebar-nav li a:active,.sidebar-nav li a:focus,.sidebar-nav li a:hover,.sidebar-nav li.open a:active,.sidebar-nav li.open a:focus,.sidebar-nav li.open a:hover{color:#fff;text-decoration:none;background-color:transparent}
.sidebar-nav>.sidebar-brand{height:65px;font-size:20px;line-height:44px;background-color:#0b4e84}
.hamburger.is-closed:before,.hamburger.is-open:before{content:'';line-height:32px;text-align:center;color:#fff;font-size:14px}
.sidebar-nav 
.dropdown-menu{position:relative;width:100%;padding:0;margin:0;border-radius:0;border:none;background-color:#06365D;box-shadow:none}
.hamburger{position:relative;top:17px;z-index:999;display:inline-block;width:32px;height:32px;margin-left:0;background:0 0;border:none}
.hamburger.is-closed .hamb-bottom,.hamburger.is-closed .hamb-middle,.hamburger.is-closed .hamb-top,.hamburger.is-open .hamb-bottom,.hamburger.is-open .hamb-middle,.hamburger.is-open .hamb-top{background-color:#fff}
.hamburger:active,.hamburger:focus,.hamburger:hover{outline:0}
.hamburger.is-closed:before{display:block;width:100px;opacity:0;-webkit-transform:translate3d(0,0,0);-webkit-transition:all .35s ease-in-out}
.hamburger.is-closed:hover:before{opacity:1;display:block;-webkit-transform:translate3d(-100px,0,0);-webkit-transition:all .35s ease-in-out}
.hamburger.is-closed .hamb-bottom,.hamburger.is-closed .hamb-middle,.hamburger.is-closed .hamb-top,.hamburger.is-open .hamb-bottom,.hamburger.is-open .hamb-middle,.hamburger.is-open .hamb-top{position:absolute;left:0;height:4px;width:100%}
.hamburger.is-closed .hamb-top{top:5px;-webkit-transition:all .35s ease-in-out}
.hamburger.is-closed .hamb-middle{top:50%;margin-top:-2px}
.hamburger.is-closed .hamb-bottom{bottom:5px;-webkit-transition:all .35s ease-in-out}
.hamburger.is-closed:hover .hamb-top{top:0;-webkit-transition:all .35s ease-in-out}
.hamburger.is-closed:hover .hamb-bottom{bottom:0;-webkit-transition:all .35s ease-in-out}
.hamburger.is-open .hamb-bottom,.hamburger.is-open .hamb-top{-webkit-transition:-webkit-transform .2s cubic-bezier(.73,1,.28,.08)}
.hamburger.is-open .hamb-bottom,.hamburger.is-open .hamb-top{top:50%;margin-top:-2px}
.hamburger.is-open .hamb-top{-webkit-transform:rotate(45deg)}
.hamburger.is-open .hamb-middle{display:none}
.hamburger.is-open .hamb-bottom{-webkit-transform:rotate(-45deg)}
.hamburger.is-open:before{display:block;width:100px;opacity:0;-webkit-transform:translate3d(0,0,0);-webkit-transition:all .35s ease-in-out}
.hamburger.is-open:hover:before{opacity:1;display:block;-webkit-transform:translate3d(-100px,0,0);-webkit-transition:all .35s ease-in-out}
.overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(250,250,250,.8);z-index:1}
#page-header{background-color:#0A233C;color:#fff!important;margin-bottom:40px}
#page-header h1,#page-header h2,#page-header h3,#page-header h4,#page-header h5{color:#fff}
.page-collapse-btn{max-width:70px}
.page-header-menu{padding-right:0;padding-left:0}
#page-navbar-header ::-webkit-input-placeholder{color:#fff}
#page-navbar-header :-moz-placeholder{color:#fff}
#page-navbar-header ::-moz-placeholder{color:#fff}
#page-navbar-header :-ms-input-placeholder{color:#fff}
#page-navbar-header .navbar{-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;margin-bottom:0}
#page-navbar-header .navbar-inverse{background-color:transparent;border-color:transparent}
#page-navbar-header h1,#page-navbar-header h2,#page-navbar-header h3,#page-navbar-header h4,#page-navbar-header h5,#page-navbar-header h6{margin-top:0}
#page-navbar-header .navbar-inverse .navbar-nav>li>a{color:#FFF}
#page-navbar-header .navbar-inverse .navbar-nav>.active>a,#page-navbar-header .navbar-inverse .navbar-nav>.active>a:focus,#page-navbar-header .navbar-inverse .navbar-nav>.active>a:hover{color:#fff;background-color:#2F4679}
#page-navbar-header input[type=password],#page-navbar-header input[type=text]{color:#fff;-webkit-box-shadow:inset 0 -1px 0 #fff;box-shadow:inset 0 -1px 0 #fff}
#page-navbar-header .navbar-inverse .navbar-toggle .icon-bar{background-color:rgba(255,255,255,1)}@media (min-width:768px){#page-navbar-header .navbar{border-radius:0;min-height:0;margin-bottom:0}}
#filter{margin-bottom:20px;padding:10px 20px;box-shadow:0 1px 4px rgba(0,0,0,.3);line-height:1.2em;color:#fff!important}
#filter select,select.form-control{background-color:#fff;color:#000}
#filter .checkbox input[type=checkbox]:after,#filter .checkbox-inline input[type=checkbox]:after,#filter input[type=checkbox]:after{margin-right:0;border:2px solid #FFF;margin-left:7px}
#filter .form-control{color:#fff}
#filter ::-webkit-input-placeholder{color:#ddd}
#filter :-moz-placeholder{color:#ddd}
#filter ::-moz-placeholder{color:#ddd}
#filter :-ms-input-placeholder{color:#ddd}
#filter .checkbox input[type=checkbox]:checked:before,#filter .checkbox-inline input[type=checkbox]:checked:before,#filter input[type=checkbox]:checked:before{left:13px}
.panel-list{background-color:transparent}
.panel-list .glyphicon-ok{color:#00DA04}
#filter,.panel-list .panel-heading{background-color:#02A9F4;border-color:#ddd}
.compact-pagination ul{margin:0;float:right}
.panel-list .panel-body{margin:0;padding:0}
.panel-list .card{background-color:#fff;padding:5px 25px;margin:0;border-bottom:1px solid #fff}
#dd-list .panel-body,#payment-list .panel-body{background-color:#F9f9f9}
#dd-list ul,#payment-list ul{font-size:14px;color:#000}
#dd-list .panel-heading,#payment-list .panel-heading{border-bottom:1px solid #CAC8C8}
#dd-list li,#payment-list li{padding:2px 2px 2px 30px;position:relative;line-height:1.3em;margin-bottom:10px}
#dd-list .glyphicon,#payment-list .glyphicon{position:absolute;
	width:20px;text-align:left;left:0;top:3px;margin-right:21px;font-size:18px  }
#dd-list .header,#payment-list .header{text-transform:capitalize;font-weight:700;display:block}
#dd-list panel-heading,#payment-list panel-heading{font-weight:700}
#dd-list address,#payment-list address{margin-bottom:0}
#payment-list p:not(.lead) span{display:block}
#payment-list .list-card{border-bottom:1px solid rgba(0,0,0,.3);margin:30px 0 10px}
#payment-list .list-card p.lead{margin-bottom:0}
#payment-list .list-card h6{margin:5px 0 20px;font-weight:700;color:#000}
#filter .form-group{margin-left:10px;vertical-align:baseline}
#filter input[type=number]{max-width:50px}